<div class="nested_fields">
  <p>
    <label>Performer</label>
    <input type='text' class='concert_performers large-12 columns'/>
    <input id="performer_id" name="performer_id" type="hidden"/>
  </p>
  <p>
    <%= f.label :occurs_at %>
    <%= f.datetime_local_field :occurs_at %>
  </p>
  <p>
    <%= f.label :duration %>
    <%= f.number_field :duration, :min => 0 %>
  </p>
  <%= link_to_remove_association "remove time slot", f, class: "button tiny right" %>
</div>