<div class="nested_fields">
  <script>
    var element = $('#time_slots .nested_fields').last().find('.foo');
    initAutoComplete(element);
  </script>
  <p>
    <%= f.label :performer %>
    <%= f.select :performer_id, Performer.all.collect {|p| [ p.name, p.id ] } %>
  </p>
  <p>
    <%= f.label :occurs_at %>
    <%= f.datetime_local_field :occurs_at %>
  </p>
  <p>
    <%= f.label :duration %>
    <%= f.number_field :duration, :min => 0 %>
  </p>
  <%= link_to_remove_association "remove time slot", f, class: "button tiny right" %>
</div>