<h1>Concerts</h1>
<% @concerts.each do |c| %>
	<ul>
		<li><h3><%= link_to c.name, c %></h3></li>
		<li><%= c.location.name %></li>
		<li><%= c.occurs_at.strftime("%A, %d %B %Y at %I:%M %P") %></li>
		<li><%= c.duration_to_s %></li>
		<li><%= c.cover_to_money %></li>
	</ul>
	<p><%= c.inspect %></p>
<% end %>
