
<div class="row">
  <div class="large-4 columns">
    <h1>Create a new Concert</h1>
    <%= form_for @concert, html: { autocomplete: :off } do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <label>Location</label>
        <input type='text' id="concert_location" class='large-12 columns'/>
        <input id="location_id" name="location_id" type="hidden"/>
      </p>
      <p>
        <%= f.label :cover_charge %>
        <%= f.text_field :cover_charge %>
      </p>

      <h3>Time Slots</h3>
      <%= form_for @concert, html: { autocomplete: :off } do |f| %>
      <div class='time_slot_block'>
        <p>
          <label>Performer</label>
          <input type='text' class='concert_performers large-12 columns'/>
          <input id="performer_id" name="performer_id" type="hidden"/>
        </p>
        <p>
          <%= f.label :occurs_at %>
          <input type='datetime-local' name="time_slot_id" class='large-12 columns'/>
        </p>
        <p>
          <%= f.label :duration %>
          <%= f.number_field :duration %>
        </p>
        <hr>
      </div> <!-- end time slot block -->
      <p>
        <button class='time_slot_add button tiny round secondary right clear'>Add Another Time Slot</button>
      </p>
      <% end %>

      <p>&nbsp;</p><br><br>
      <p>
        <%= f.submit class: 'button large ' %>
      </p>
    <% end %>
  </div>
</div>




