<%= form_for @location, html: { autocomplete: :off } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= link_to "Here?", new_location_path, class:"here tiny button" %>
    <script> 
      $('.here').on('click', function(){

        var latitude;
        var longitude;


         if(navigator.geolocation) {
            // timeout at 60000 milliseconds (60 seconds)
            var options = {timeout:60000};
            navigator.geolocation.getCurrentPosition(setMap, errorHandler, options);
         }
         else {
               alert("Sorry, browser does not support geolocation!");
         }

        function errorHandler(err) {
          if(err.code == 1) {
            console.log(err);
            alert("Error: Access to your location is denied by browser!");
          }
          else if( err.code == 2) {
            alert("Error: Position is unavailable!");
          }
        } /* end errorHandler */

        function setMap(position) {

          latitude = position.coords.latitude;
          longitude = position.coords.longitude;
          
          $('#location.street_line1').val('Here').attr('readonly', 'true');
          $('#location.street_line2').val('Here').attr('readonly', 'true');        
        })
    </script>
    <%= f.label :street_line1, value: "Street Line 1" %>
    <input type="text" id="location_street_line1" name="location[street_line1]"/>
  </p>
  <p>
    <%= f.label :street_line2 %>
    <input type="text" id="location_street_line2" name="location[street_line2]"/>
  </p>
  <p>
    <%= f.label :city %>
    <input type="text" id="location_city" name="location[city]"/>
  </p>
  <p>
    <%= f.label :state %>
    <input type="text" id="location_state" name="location[state]"/>
  </p>
  <p>
    <%= f.label :zip_code %>
    <input type="number" id="location_zip_code" name="location[zip_code]"/>
  </p>

  <p>&nbsp;</p><br><br>
  <p>
    <%= f.submit class: 'button large ' %>
  </p>
<% end %>