<h1>Location <%= @location.id %></h1>
<ul>
	<li><h3><%= @location.name %></h3></li>
	<li><%= @location.street_line1 %></li>
	<li><%= @location.street_line2 %></li>
	<li><%= @location.zip_code %></li>
</ul>
